#service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  width: 1366px;
  height: 480px;
  padding: 88px 120px 120px 120px;
  background-color: var(--gray-600);

  .header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    justify-content: center;
    width: 355px;
    height: 88px;
  }

  .grid {
    display: flex;
    gap: 24px;

    .card {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 280px;
      height: 155px;
      border-radius: 12px;
      border: 1px solid var(--gray-200);
      padding: 20px;
      cursor: pointer;

      &:hover {
        border: 2px solid var(--gray-300);
        background: var(--gray-400);
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 240px;
        height: 155px;
      }
    }
  }
}
